.pagination-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.item-pagi ~ .item-pagi {
    margin-left: 15px;
}

.item-pagi.active {
    color: #000000;
    border-color: #000000;
}
