.wrapper {
    position: fixed;
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 5;
    right: 0;
    margin-right: 10px;
    top: 16%;
    background-color: #fff;
}
.title {
    font-weight: 600;
    font-size: 14px;
}
.main-content {
    display: flex;
    margin-top: 5px;
}
.image {
    width: 80px;
}
.btn-close {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: transparent;
}
.detail {
    font-size: 13px;
    margin-left: 10px;
}
.price {
    color: #dc3545;
}
