.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 40px;
    padding: 9px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px transparent;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
}

.defaultBtn {
    color: var(--primary-blue);
    border-color: var(--primary-blue);

    &:hover {
        background-color: var(--primary-blue);
        color: var(--white-color);
    }
}

.primary {
    color: var(--primary);
    border-color: var(--primary);
    border-radius: 92px;

    &:hover {
        background-color: var(--primary);
        color: var(--white-color);
    }
}

.underline {
    &:hover {
        text-decoration: underline;
    }
}

.text {
    .title {
        font-weight: 200;
    }
}

.fullfill {
    background-color: var(--primary-blue);
    color: var(--white-color);
}

.disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
        border-color: transparent !important;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 1.8rem;
}

// Button size
.ssmall {
    min-width: 40px;
    padding: 4px 4px;
}

.small {
    min-width: 88px;
    padding: 4px 12px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
