@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700;900&display=swap');

:root {
    --primary-color: #bb9244;
    --text-color: #3a4752;
    --white-color: #fff;
    --background-hover: rgba(22, 24, 35, 0.03);
    --border-color: #e8e8e8;

    --default-width: 1200px;
    --default-layout-horizontal-spacer: 32px;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

input[type='checkbox'],
input[type='radio'] {
    margin-top: 0;
    vertical-align: top;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    outline: 0 !important;
}

input[type='radio'] {
    margin-top: 0;
    vertical-align: top;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    outline: 0 !important;
}

input[type='checkbox']:checked:before,
input[type='radio']:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}

input[type='checkbox']:checked:after,
input[type='radio']:checked:after {
    background-color: #2e2e2e;
    border-color: transparent;
}

input[type='radio']:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    top: 6px;
    margin: auto;
    z-index: 1;
    width: 10px;
    height: 5px;
    border: 1px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

input[type='radio']:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    border-radius: 2px;
}

input[type='checkbox']:before,
input[type='radio']:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    top: 6px;
    margin: auto;
    z-index: 1;
    width: 10px;
    height: 5px;
    border: 1px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

input[type='checkbox']:after,
input[type='radio']:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    border-radius: 2px;
}

h1 {
    font-size: 36px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

// Scrollbar CSS

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.d-none {
    display: none;
}
