.wrapper {
    -webkit-backface-visibility: hidden;
    height: 100%;
    left: 0;
    outline: none;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    transform: translateZ(0);
    width: 100%;
    z-index: 99992;
}

.bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.wrapper.open .bg {
    opacity: 0.9;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    direction: ltr;
    overflow: visible;
    transform: translateZ(0);
    z-index: 99994;
}

.main-content {
    height: 100%;
    padding: 44px;
    position: absolute;
    transition-property: transform, opacity;
    width: 100%;
    z-index: 99994;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.update {
    padding: 0;
    width: 100%;
    //max-width: 825px;
    border-radius: 8px;
}

.wrapper-update {
    width: 100%;
}
.btn-close {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: transparent;
}
