.media {
    position: relative;
    overflow: hidden;
}

.image {
    position: relative;
    display: block;
    padding-bottom: 124%;

    picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        transition: all 0.6s ease-in-out 0s;
        -moz-transition: all 0.6s ease-in-out 0s;
        -o-transition: all 0.6s ease-in-out 0s;
        -webkit-transition: all 0.6s ease-in-out 0s;
    }

    img {
        max-width: 100%;
    }
}

.image:hover picture:nth-child(1) {
    visibility: hidden;
    opacity: 0;
}

.image picture:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.image:hover picture:nth-child(2) {
    opacity: 1;
    visibility: visible;
}
.details {
    padding-top: 16px;
    margin-bottom: 40px;
}

.title {
    min-height: 61px;
    cursor: pointer;
    p {
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 10px;
    }

    a {
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.price {
    span {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
}

.variant {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 18px;
    gap: 8px;
}

.item-variant {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}

.icon-addtocart-loop {
    background: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }
}
